body{
	margin:0;
	padding:0;
	font-size:16px;
	font-weight:400;
	font-family: 'Fira Sans',	sans-serif;	
}
*{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,ul,li,p,figure,form{
	margin:0;
	padding:0;	
}
.main-wrapper{
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background:url(../images/login-bg.png) center 0 no-repeat #3b1a3f;
	background-size:cover;
}
.signup-main-wrapper{
	display:flex;
	justify-content:center;
	background:url(../images/login-bg.png) center 0 no-repeat #3b1a3f;
	background-size:cover;
	padding:50px 0;
}
.login-wrapper{
	width:640px;
	height:450px;
	background-color:#ffffff;
	border-radius:4px;
}
html,body{
	height:100%;
}
.login-wrapper h1{
	background-image: linear-gradient(#78517b, #68466a);
	padding:30px;
	font-size:30px;
	font-weight:600;
	color:#ffffff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	display:flex;
	justify-content:space-between;
}
.login-wrapper h1 a{
	color:#ffffff;
}
.login-inner-wrapper{
	padding:40px;
}
input[type="text"],input[type="password"],input[type="email"],input[type="tel"],input[type="date"],input[type="number"]{
	width:100%;
	height:80px;
	border:1px solid #cccccc;
	border-radius:5px;
	padding:0 15px;
	font-size:24px;
	background-color:#f0eef0;
}
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="date"]:focus,input[type="number"]:focus{
outline:none;
}
::placeholder{
	opacity:0.5;	
}
.input-wrapper{
	position:relative;
	padding-bottom: 30px;
}
.input-wrapper i{
	position:absolute;
	top:25px;
	right:20px;
	font-size:24px;
	color:#472449;
}
.submit-btn{
	height:65px;
	width:165px;
	border-radius:4px;
	background-image: linear-gradient(#77507a, #68466b);
	font-weight:600;
	font-size:24px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:#ffffff;
	text-decoration:none;
}
.submit-btn:hover{
	background-image: linear-gradient(#fa4508, #9e2e08);
}
.submit-btn-wrapper{
	display:flex;
	grid-gap:15px;
	align-items:center;
}
.forgot-password{
	text-decoration:none;
	font-size:18px;
	color:#a3a3a3;
}
.signup-wrapper{
	width:800px;
	background-color:#ffffff;
	border-radius:4px;
}
.signup-wrapper h1{
	background-image: linear-gradient(#78517b, #68466a);
	padding:30px;
	font-size:30px;
	font-weight:600;
	color:#ffffff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	display:flex;
	justify-content:space-between;
	flex-direction:column;
}
.signup-wrapper h1 span{
	font-size:18px;
	font-weight:500;
}
.signup-input-wrapper{
	display:flex;
	grid-gap:20px;
}
.country-code{
	width:100%;
	height:80px;
	border:1px solid #cccccc;
	border-radius:5px;
	padding:0 15px;
	font-size:24px;
	padding-right:50px;
	background-color:#f0eef0;
}
.country-wrapper, .tel-wrapper{
	width:150px;
}
.tel-wrapper{
flex-grow:1;	
}
.container-terms {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-terms a{
	color:#764f79;
}

/* Hide the browser's default checkbox */
.container-terms input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius:4px;
}

/* On mouse-over, add a grey background color */
.container-terms:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-terms input:checked ~ .checkmark {
  background-color: #764f79;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-terms input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container-terms .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.m--top {
	margin-top: 50px;
  }
  
  input {
	letter-spacing: .1ch;
  }
  
  .help-block {
	  margin-top: 0;
	  margin-bottom: 5px;
  }
 .form-group{
	position: relative;
    padding-bottom: 30px;
 }
 input[type="date"]{
	color: #ccc;
 }
 .checkbox {
	display: inline-block;
	min-width: 26px;
	min-height: 26px;
	position: relative;
	background: #c2c2c1;
	margin-left: 34px;
    margin-right: 10px;
    top: -3px;
}
.checkbox	label {
	    min-width: 24px;
	    min-height: 24px;
	    cursor: pointer;
	    position: absolute;
	    left: 1px;
	    top: 1px;
	    background: #fafafa;
}
.checkbox	label:after {
	    	content: '';
	    	width: 15px;
	    	height: 10px;
	    	position: absolute;
	    	top: 4px;
	    	left: 4px;
	    	border: 3px solid #472449;
	    	border-top: none;
			border-right: none;
			background: transparent;
			opacity: 0;
			transform: rotate(-45deg);
	    }
.checkbox	label:hover:after {
			opacity: 0.3;
	    }
 input[type=radio] {
    visibility: hidden;
}
input[type=radio]:checked + label:after {
			opacity: 1;
}
.gender{
	padding-bottom: 30px;
}
.gender h4{
	padding-bottom: 14px;
    padding-left: 16px;
	font-size: 24px;
}